<!--Profil-->
<ion-header>
  <ion-navbar>
    <ion-title text-center><h4>Profil</h4></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div padding-top text-center >
    <div class="profilePict">
	    <img src="assets/icon/user.png" *ngIf="!profilePict">
		  <img [src]="profilePict" *ngIf="profilePict">
    </div>
	    <!--h2>{{nama}}</h2-->
	  <button (click)="editFoto()" >
				<div class="editFoto">
					<ion-icon name="camera"> </ion-icon>
				</div>
		</button>
    <button (click)="editProfil()" >
				<div class="editFoto">
					<ion-icon name="create"> </ion-icon>
				</div>
		</button>
	</div>

  	<form #updateForm="ngForm" novalidate>
		<ion-list >
			<ion-item>
				<ion-label stacked color="primary" >Nama Lengkap</ion-label>
				<ion-input [(ngModel)]="user.name" disabled name="name" type="text" #name="ngModel" required >
				</ion-input>
			</ion-item>

			<ion-item>
				<ion-label stacked color="primary" >Tanggal Lahir</ion-label>
				<ion-input [(ngModel)]="user.ttl" disabled name="ttl" type="text" #ttl="ngModel" required >
				</ion-input>
			</ion-item>

			<ion-item>
				<ion-label stacked color="primary" >Email</ion-label>
				<ion-input [(ngModel)]="user.email" disabled name="email" type="email" #email="ngModel" required >
				</ion-input>
			</ion-item>

			<ion-item>
				<ion-label stacked color="primary" >Nama Organisasi</ion-label>
				<ion-input [(ngModel)]="organisasi.nama_organisasi" disabled name="n_organisasi" type="text" #n_organisasi="ngModel" required >
				</ion-input>
			</ion-item>

			<ion-item>
				<ion-label stacked color="primary" >Status Keanggotaan</ion-label>
				<ion-input [(ngModel)]="keanggotaan.level" disabled name="level" type="text" #level="ngModel" required >
				</ion-input>
			</ion-item>
			
		</ion-list>
	</form>
		
</ion-content>