<ion-header>
    <ion-navbar>
        <ion-title text-center><h4>Beranda</h4></ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)">
                <ion-icon name="more"></ion-icon>
            </button>
         </ion-buttons>
    </ion-navbar>

</ion-header>
<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Tarik untuk memuat ulang"
      refreshingSpinner="circles"
      refreshingText="Memuat...">
    </ion-refresher-content>
  </ion-refresher>
  <div text-center *ngIf="!posts">
    <ion-spinner></ion-spinner>
    <p>
      Memuat data...
    </p>
  </div>
  <div text-center *ngIf="httpErr">
    <button ion-button (click)="getData()">Muat Ulang</button>
  </div>
    <ion-list>
        <div *ngFor="let post of posts">
            <ion-card (click)="detilPos()">
                <ion-card-header> <b class="judul">{{post.subjek}}</b>
                    <p class="info">oleh : <b>{{post.pengguna}}</b>
                    <hr> </ion-card-header>
                <ion-card-content>
                    <p class="text" [innerHTML]="post.isi"></p>
                    <br />
                    <ion-badge item-right >
                         {{post.timestamp}}</ion-badge>
                </ion-card-content>
            </ion-card>
        </div>
    </ion-list>
    
    
    <ion-fab right bottom>
      <button ion-fab (click)="goToBeranda()"><ion-icon name="create"></ion-icon></button>
    </ion-fab>
 
</ion-content>