<ion-header>
  <ion-navbar>
    <ion-title text-center><h4>Laporan Keuangan</h4></ion-title>
        <ion-buttons end>
          <button ion-button icon-only (click)="presentPopover($event)">
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-buttons>
  </ion-navbar>
  
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Tarik untuk memuat ulang"
      refreshingSpinner="circles"
      refreshingText="Memuat...">
    </ion-refresher-content>
  </ion-refresher>
  <div text-center *ngIf="!lapor">
    <ion-spinner></ion-spinner>
    <p>
      Memuat data...
    </p>
  </div>
  <div text-center *ngIf="httpErr">
    <button ion-button (click)="getData()">Muat Ulang</button>
  </div>
    <ion-list>
        <div *ngFor="let lap of lapor">
            <ion-card >
                <ion-card-header> <b class="judul">{{lap.jumlah}}</b>
                    </ion-card-header>
                <ion-card-content>
                    <p class="text" [innerHTML]="lap.keterangan"></p>
                    <br />
                    <ion-badge>
                          {{lap.namadivisi}}
                    </ion-badge>
                     <ion-badge>
                          {{lap.namakegiatan}}
                    </ion-badge>
                    <ion-badge>
                          {{lap.timestamp}}
                    </ion-badge>
                    <ion-badge>
                         {{lap.jenis}}</ion-badge>
                </ion-card-content>
            </ion-card>
        </div>
    </ion-list>
    
    
    <ion-fab right bottom>
      <button ion-fab (click)="goToBeranda()"><ion-icon name="create"></ion-icon></button>
    </ion-fab>
</ion-content>